* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.exercise-dashboard-body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, #121212 70%, #02028B 100%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
    padding-top: 20px;
    overflow-x: hidden;
}

.exercise-dashboard-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0 20px;
    background-color: transparent;
    position: relative;
    z-index: 1;
}

.exercise-dashboard-logo-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.exercise-dashboard-logo-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.exercise-dashboard-heading {
    flex: 1;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    padding-top: 20px;
    margin-bottom: 30px;
}

.exercise-dashboard-categories-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1700px;
    padding: 0 20px;
    justify-items: center;
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.exercise-dashboard-category-box {
    background-color: #cecece;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s;
    height: 230px;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.exercise-dashboard-category-box:hover {
    transform: scale(1.05);
}

.exercise-dashboard-category-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.exercise-dashboard-category-name {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
    text-align: center;
}
