.exercise-body {
  margin-top: 130px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.h11 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

.exercise-dashboard-categories-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Adjusted for better spacing */
  gap: 20px;
  width: 100%;
  max-width: 1300px;
  padding: 0 20px;
  justify-items: center;
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .exercise-dashboard-categories-container {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for medium screens */
  }
}

@media (max-width: 900px) {
  .exercise-dashboard-categories-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 600px) {
  .exercise-dashboard-categories-container {
    grid-template-columns: 1fr; /* 1 column for very small screens */
  }

  .h11 {
    font-size: 1.8rem; /* Adjust header size */
  }
}

.exercise-dashboard-category-box {
  background-color: rgba(31, 18, 117, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s;
  height: 250px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.exercise-dashboard-category-box:hover {
  transform: scale(1.05);
}

.exercise-dashboard-category-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.exercise-dashboard-category-name {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 10px;
  color: white;
  text-align: center;
}
.level-heading {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 30px;
  color: #fff;
  text-align: center;
}
/* Modal Overlay */
.video-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Content */
.video-modal-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
  max-width: 800px;
  width: 90%;
  text-align: center;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff0000;
  color: white;
  border: none;
  font-size: 1.5rem;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 50%;
}

.video-modal-content video {
  max-width: 100%;
  height: auto;
}
